<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Mi primer porfolio</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ab labore illo enim eius ipsam vel ad repudiandae excepturi tempore accusamus sunt, nisi ducimus. Aut sunt quis dolore repudiandae consequatur!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/fotoperfil.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
