<div class="row">
    <div class="col-lg-12">
    <h1>Educación</h1>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Educacion 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quod pariatur, nostrum necessitatibus ut sed esse dolore quam dolores voluptates excepturi fugiat corporis incidunt distinctio enim maxime error voluptatum cum!</p>
        </ul>
        <ul>
            <li><h1>Educacion 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quod pariatur, nostrum necessitatibus ut sed esse dolore quam dolores voluptates excepturi fugiat corporis incidunt distinctio enim maxime error voluptatum cum!</p>
        </ul>
        <ul>
            <li><h1>Educacion 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quod pariatur, nostrum necessitatibus ut sed esse dolore quam dolores voluptates excepturi fugiat corporis incidunt distinctio enim maxime error voluptatum cum!</p>
        </ul>
    </div>
</div>

