<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEd">Nombre de la institución</label>
                    <input type="text" class="fomr-control" id="nombreEd" name="nombreEd" [(ngModel)]="nombreEd" required>
                </div>
                <div class="form-group">
                    <label for="descripcionEd">Descripción de sus estudios</label>
                    <input type="text" class="fomr-control" id="descripcionEd" name="descripcionEd" [(ngModel)]="descripcionEd" required>
                </div>
                <button class="btn btn-secondary">
                    Agregar educación
                </button>
            </form>
        </div>
    </div>
</div>
